{% extends "base.html" %}
{% load static %}

{% block content %}


    <div class="todos">

        <div class="todos_head"> {# TIME AND DATE IN THE TODO LIST WITH COOL BACKGROUND #}
            <h1>MY TODO LIST</h1>
            <h1>{{ date_today }}</h1>
            <h3> {{ time_now }} </h3>
        </div>

        {% for task in tasks %}
            <div class="task_container">
                {% if task.completed == True %}

                    <div class="row">
                        <div class="col-sm-2"><a class="update_icon" href="{% url 'update_task' task.id %}">Edit</a></div>
                        <div class="col-sm-8"><s>{{ task }}</s></div>
                        <div class="col-sm-2"><a class="update_icon" href="{% url 'delete_task' task.id %}">Delete</a>
                        </div>
                    </div>

                {% else %}

                    <div class="row">
                        <div class="col-sm-2"><a class="update_icon" href="{% url 'update_task' task.id %}">Edit</a></div>
                        <div class="col-sm-8"><span>{{ task }}</span></div>
                        <div class="col-sm-2"><a cclass="update_icon" href="{% url 'delete_task' task.id %}">Delete</a>
                        </div>
                    </div>

                {% endif %}
            </div>

        {% endfor %}

        <div class="task_container create_task">
            <form class="d-inline-flex" action="/" method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="col-sm-8"><span>{{ form.task }}</span></div>
                    <div class="col-sm-4">
                        <button class="btn btn-outline-success" type="submit">Add</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}