{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/task.css' %}">

    <title>WEBBY</title>
</head>
<body>

   <div class="navbar">
       <div class="logo">
            <h1>WEBBY-Do</h1>
            <ul>
                <li>Login</li>
            </ul>
       </div>
    </div>

   <h1> Checkk...</h1>

    
       {% block content %}
      
       {% endblock %}

    
</body>
</html>